<div class="input max-w-72">
  <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
   <input class="input" name="email" placeholder="Enter email address" type="text" value="jason@studio.io"/>
  </div>
 </div>


<div class="input max-w-72" data-toggle-password="true">
  <input placeholder="Password" type="password"/>
  <div class="btn btn-icon" data-toggle-password-trigger="true">
   <i class="ki-outline ki-eye toggle-password-active:hidden">
   </i>
   <i class="ki-outline ki-eye-slash hidden toggle-password-active:block">
   </i>
  </div>
 </div>

